<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="row Main-Header">
  <div class="col-lg-10">
    User Settings
  </div>
  <div class="col-lg-1">
    <button type="button" class="btn btn-warning Main-Button" style="float: right">Delete</button>
  </div>
  <div class="col-lg-1 text-right">
    <button type="button" class="btn btn-primary Main-Button" style="float: left">Save</button>
  </div>
</div>
<div class="row">
  <!--Left Side-->
  <div class="col-lg-4">
    <div class="row">
      <div class="col-lg-12">
        <div class="col-lg-3 Remove-Padding">
          User Id:
        </div>
        <div class="col-lg-9">
          <!--xxxxxxxxx xxxxxxxxxx      xxxxxxxxxxxxxx xxxxxxx xxxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxx-->
          <input type="text" name="txtUserId" id="txtUserId" value="">
        </div>
      </div>
    </div>
    <div class="row Add-TopPadding">
      <div class="col-lg-12">
        <div class="col-lg-3 Remove-Padding">
          Name:
        </div>
        <div class="col-lg-9">
          <input type="text" name="txtName" id="txtName" value="" class="UserPage-TextBox">
        </div>
      </div>
    </div>
    <div class="row Add-TopPadding">
      <div class="col-lg-12">
        <div class="col-lg-3 Remove-Padding">
          Tel No:
        </div>
        <div class="col-lg-9">
          <input type="text" name="txtTelephone" id="txtTelephone" value="" class="UserPage-TextBox">
        </div>
      </div>
    </div>
    <div class="row Add-TopPadding">
      <div class="col-lg-12">
        <div class="col-lg-3 Remove-Padding">
          Fax:
        </div>
        <div class="col-lg-9">
          <input type="text" name="txtFax" id="txtFax" value="" class="UserPage-TextBox">
        </div>
      </div>
    </div>
    <div class="row Add-TopPadding">
      <div class="col-lg-12">
        <div class="col-lg-3 Remove-Padding">
          Mail Add:
        </div>
        <div class="col-lg-9">
          <input type="text" name="txtEmail" id="txtEmail" value="" class="UserPage-TextBox">
        </div>
      </div>
    </div>
    <div class="row Add-TopPadding">
      <div class="col-lg-12">
        <div class="col-lg-3 Remove-Padding">
          Help language:
        </div>
        <div class="col-lg-9">
          <input type="text" name="txtHelp" id="txtHelp" value="" class="UserPage-TextBox">
        </div>
      </div>
    </div>
    <div class="row Add-TopPadding">
      <div class="col-lg-12">
        <div class="col-lg-3 Remove-Padding">
          Business Unit:
        </div>
        <div class="col-lg-9">
          <input type="text" name="txtBusiness" id="txtBusiness" value="" class="UserPage-TextBox">
        </div>
      </div>
    </div>
  </div>
  <!--2nd Column-->
  <div class="col-lg-2 Userpanel">
    <div class="col-lg-12">
      <div class="row">
        <button type="button" class="btn btn-primary" style="width:175px" id="btnAdd">Add user</button>
      </div>
      <div class="row Add-TopPadding">
        <button type="button" class="btn btn-primary" style="width:175px" id="btnCopy">Copy user</button>
      </div>
      <div class="row Add-TopPadding">
        Swap user
      </div>
      <div class="row">
        <input type="text" name="txtSwap" id="txtSwap">
      </div>
      <div class="row Add-TopPadding">
        <button type="button" class="btn btn-primary" style="width:175px" id="btnSwap">Swap user</button>
      </div>
    </div>
  </div>
  <!--3rd Column-->
  <div class="col-lg-2">
    <div class="col-lg-12">
      <fieldset class="scheduler-border">
        <legend class="scheduler-border">User Rights</legend>
        <div class="checkbox">
          <label>
    <input type="checkbox" value="">
    Show all PRAs
  </label>
        </div>
        <div class="checkbox disabled">
          <label>
    <input type="checkbox" value="">
    Create SQ Report
  </label>
        </div>
      </fieldset>
    </div>
  </div>
  <!--3rd Column-->
  <div class="col-lg-4">

  </div>

</div>