/*p.tuna {color:red;}*/
/*p[name="bucky"] {color:blue;}*/
/*p[name^="bacon"] {color:blue;}*/
/*p[name="bacon"] {color:blue;}*/
/*p[name$="bacon"] {color:blue;}*/
/*p[name*="bacon"] {color:blue;}*/
*{
	margin:0px;
	padding:0px;
}
h1{
	font:bold 20px tahoma;
}
h2{
	font:bold 14px tahoma;
}
header, section,footer, article, nav, hgroup, aside{
	display:block
}
body{
	text-align:center;
}
#big_wrapper{
	border:1px solid black;
	width:1000px;
	margin:20px auto;
	text-align:left;
	
}
#top_header{
	background: yellow;
	border: 1px solid blue;
	padding: 20px;
}
#top_menu{
	background:blue;
	color:white;
}
#top_menu  li{
	display:inline-block;
	list-style:none;
	padding:5px;
	font:bold 14px tahoma;
}
#main_section{
	float:left;
	width:660px;
	margin:30px;
}
#side_news{
	float:left;
	width:220px;
	margin:20px 0px;
	padding:30px;
	background:#66CCCC;
}
#the_footer{
	clear:both;
	text-align:center;
	border-top:2px solid green;
	padding:20px;
}
article{
	background:#FFFBCC;
	border:1px solid red;	
	padding:20px;
	margin-bottom:15px;
}
article footer{
	text-align:right;
}